<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeWaaiBeheer.Properties.Settings.ConnectionString"
            connectionString="server=dewaai.ga;user id=pieter;password=5CgwNv!?WGPU;persistsecurityinfo=True;database=pieter_DeWaai"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>